/*
  1. Use a more-intuitive box-sizing model.
*/
*, *::before, *::after {
  box-sizing: border-box;
}
/*
  2. Remove default margin
*/
* {
  margin: 0;
}
/*
  3. Allow percentage-based heights in the application
*/
html, body {
  height: 100%;
}

input, button, textarea, select {
  font: inherit;
}

#root, #__next {
  isolation: isolate;
}

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@700&family=Montserrat:wght@700&display=swap');

@keyframes jiggle {
  0% { transform: translate(1px, 1px) rotate(0deg); }
  10% { transform: translate(-1px, 2px) rotate(-1deg); }
  20% { transform: translate(-3px, 0px) rotate(1deg); }
  30% { transform: translate(1px, 1px) rotate(2deg); }
  40% { transform: translate(-2px, -1px) rotate(-2deg); }
  50% { transform: translate(1px, 1px) rotate(-6deg); }
  60% { transform: translate(4px, -4px) rotate(6deg); }
  70% { transform: translate(1px, 1px) rotate(0deg); }
  80% { transform: translate(3px, -2px) rotate(-1deg); }
  90% { transform: translate(-1px, 1px) rotate(1deg); }
  100% { transform: translate(1px, 1px) rotate(-1deg); }
}

body {
  align-items: center;
  display: flex;
  justify-content: center;
  min-height: 100vh;
  min-width: 100vw;
  margin: 0;
  padding: 0;
}

.keyboard {
  background: #F6F6F6;
  padding: 45px 40px;
  border-radius: 40px;
  position: relative;
}

.row {
  display: inline-flex;
  justify-content: space-between;
  gap: 12px;
  margin-bottom: 12px;
  width: 1120px;
}

.key {

  border: none;
  border-radius: 16px;
  color: #60C1B6;
  cursor: pointer;
  display: flex;
  font-family: 'Inter', sans-serif;
  font-size: 1.5rem;
  font-weight: bold;
  justify-content: center;
  min-width: 65px;
  align-items: center;
  padding: 18px 24px;
  position: relative;
  height: 4rem;
  box-sizing: border-box;
  display: inline-flex;
}

.front {
  display: flex;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
  background: white;
  border-radius: 12px;
  color: #60C1B6;
  height: 4rem;
  min-width: 65px;
  margin: 0;
  padding: 0px;
  transform: translateY(-4px);
  will-change: transform;
  transition: transform 
    600ms 
    cubic-bezier(.3, .7, .4, 1);
}

.shadow {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 4rem;
  border-radius: 12px;
  background: hsl(0deg 0% 0% / 0.25);
  background: transparent;
  transform: translateY(2px);
  padding: 0;
}

.edge {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 4rem;
  border-radius: 12px;
  background: rgba(0, 0, 0, 0.15);
  background: transparent;
  padding: 0;
}

.utility .front {
  color: #868888;
  flex: auto;
}

.key:hover .front {
  transform: translateY(-6px);
  transition:
    transform
    250ms
    cubic-bezier(.3, .7, .4, 1.5);
}

.key:hover .shadow {
  transform: translateY(4px);
  transition:
    transform
    250ms
    cubic-bezier(.3, .7, .4, 1.5);
}

.key:active .front {
  transform: translateY(-2px);
  transition: transform 34ms;
}

.key:active .shadow {
  transform: translateY(1px);
}

.jiggle {
  animation: jiggle 1s;
  animation-iteration-count: infinite;
  /* background: #60c186; */
  /* color: white; */
}
